<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="varManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <!-- SQLite connection string (optional - using direct file path in code) -->
    <connectionStrings>
        <add name="varManager.Properties.Settings.varManagerConnectionString"
             connectionString="Data Source=|DataDirectory|\varManager.db"
             providerName="Microsoft.Data.Sqlite" />
    </connectionStrings>

    <userSettings>
        <varManager.Properties.Settings>
            <setting name="varspath" serializeAs="String">
                <value>d:\vars</value>
            </setting>
            <setting name="vampath" serializeAs="String">
                <value>d:\virt_a_mate</value>
            </setting>
            <setting name="presetMorphs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="presetHair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="presetClothing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="presetSkin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="presetBreast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="presetGlute" serializeAs="String">
                <value>False</value>
            </setting>
        </varManager.Properties.Settings>
    </userSettings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib" />
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
