<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <PublishProtocol>FileSystem</PublishProtocol>
        <Configuration Condition="'$(Configuration)' == ''">Debug</Configuration>
        <Platform>Any CPU</Platform>
        <TargetFramework>net6.0-windows</TargetFramework>
        <PublishDir Condition="'$(Configuration)' == 'Debug'">bin\Debug\net6.0-windows\publish\</PublishDir>
        <PublishDir Condition="'$(Configuration)' == 'Release'">bin\Release\net6.0-windows\publish\</PublishDir>
    </PropertyGroup>
</Project>